.container {
  width: 375px;

  margin: 0 auto;
  padding: 0 16px;
}

.default {
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
