.section {
  padding: 40px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 80px 0 60px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 80px 0;
  }
}

.title {
  margin-bottom: 14px;

  font-size: 16px;
  font-weight: 500;

  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 32px;
  }
}

.serviceList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
}

@media screen and (min-width: 768px) {
  .serviceList {
    column-gap: 0px;
  }
}
