.section {
  background-color: var(--primary-black-transparent);
  width: 100vw;
  padding: 144px 0 60px 0;

  color: var(--primary-white);
}

@media screen and (max-width: 767px) {
  .section {
    background-image: linear-gradient(
        0deg,
        var(--primary-bg),
        var(--primary-bg)
      ),
      url('../../images/bg/img_bg_mob_1x.jpg');
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section {
    background-image: linear-gradient(
        0deg,
        var(--primary-bg),
        var(--primary-bg)
      ),
      url('../../images/bg/img_bg_mob_2x.jpg');
  }
}

.title {
  margin-bottom: 8px;

  color: inherit;

  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.separator {
  display: block;
  width: 100%;
  height: 2px;

  margin-bottom: 8px;

  background-color: var(--primary-white);
}

.fullName {
  margin-bottom: 47px;

  font-size: 16px;
  text-align: center;
}
