.section {
  padding: 144px 0 60px 0;

  background-color: var(--primary-black-transparent);

  color: var(--primary-white);
}

@media screen and (max-width: 767px) {
  .section {
    background-image: linear-gradient(
        0deg,
        var(--primary-bg),
        var(--primary-bg)
      ),
      url('../../images/bg/img_bg_mob_1x.jpg');
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section {
    background-image: linear-gradient(
        0deg,
        var(--primary-bg),
        var(--primary-bg)
      ),
      url('../../images/bg/img_bg_mob_2x.jpg');
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding: 146px 0 60px 0;

    background-image: linear-gradient(
        0deg,
        var(--primary-bg),
        var(--primary-bg)
      ),
      url('../../images/bg/img_bg_tab_1x.jpg');
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section {
    background-image: linear-gradient(
        0deg,
        var(--primary-bg),
        var(--primary-bg)
      ),
      url('../../images/bg/img_bg_tab_2x.jpg');
  }
}

.title {
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 19px;

    font-size: 40px;
  }
}

.separator {
  display: block;
  width: 100%;
  height: 2px;

  margin-bottom: 8px;

  background-color: var(--primary-white);
}

@media screen and (min-width: 768px) {
  .separator {
    margin-bottom: 19px;
  }
}

.fullName {
  margin-bottom: 47px;

  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .fullName {
    margin-bottom: 94px;

    font-size: 32px;
  }
}

.buttonContainer {
  margin: 0 auto;

  width: 286px;
}

@media screen and (min-width: 768px) {
  .buttonContainer {
    width: 406px;
  }
}
