.section {
  padding-top: 40px;
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 60px;
  }
}

.title {
  margin-bottom: 14px;

  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 40px;

    font-size: 32px;
  }
}

.qrCode {
  display: block;

  width: 188px;

  margin: 0 auto 8px auto;
}

@media screen and (min-width: 768px) {
  .qrCode {
    width: 306px;

    margin: 0 auto 20px auto;
  }
}

.linkReg {
  display: block;

  margin: 0 auto 20px auto;

  color: var(--primary-brown);

  font-size: 14px;
  text-align: center;
  text-decoration: underline;

  transition: color 150ms ease-in-out;
}

@media screen and (min-width: 768px) {
  .linkReg {
    width: 406px;

    margin: 0 auto 40px auto;

    font-size: 16px;
  }
}

.linkReg:hover,
.linkReg:focus {
  color: var(--accent-brown);
}

.featureList {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-left: 16px;

  list-style: disc;
}

@media screen and (min-width: 768px) {
  .featureList {
    gap: 32px;
  }
}

.featureItem {
}

.featureText {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .featureText {
    font-size: 14px;
  }
}
