.hiddenHeader {
  position: fixed;
  top: -100%;
  left: 0;

  width: 100vw;

  padding: 9px 0 8px 0;

  background: var(--primary-black-transparent);
  color: var(--primary-white);

  transition: top 2000ms linear;
}

.header {
  position: fixed;
  top: 0%;
  left: 0;

  min-width: 375px;
  width: 100vw;

  padding: 9px 0 8px 0;

  background: var(--primary-black-transparent);
  color: var(--primary-white);

  transition: top 2000ms linear;
}

.logoText {
  width: 54px;

  padding: 6px 0;

  font-size: 10px;
  text-align: center;

  border-top: 1px solid var(--primary-white);
  border-bottom: 1px solid var(--primary-white);
}

.connectWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.phone {
  font-size: 12px;

  transition: color 250ms ease-in-out;
}

.phone:hover,
.phone:focus {
  color: var(--primary-brown);
}
