.footer {
  padding-bottom: 50px;

  color: var(--primary-gray);
}

.infoBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;

  margin-bottom: 8px;

  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .infoBox {
    font-size: 20px;
  }
}
