@import '/node_modules/modern-normalize/modern-normalize.css';

:root {
  --primary-black: #000000;
  --primary-white: #ffffff;
  --primary-beige: #ffeab6;
  --primary-brown: #624600;
  --primary-black-transparent: #00000033;
  --primary-bg: rgba(0, 0, 0, 0.6);
}

body {
  font-family: 'Lora', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
b {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-color: transparent;
}

a {
  color: inherit;

  text-decoration: none;
}
