.section {
  padding: 40px 0 80px 0;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0 80px 0;
  }
}

@media screen and (min-width: 1280px) {
  .section {
    padding: 80px 0;
  }
}

.title {
  margin-bottom: 14px;

  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .title {
    margin-bottom: 34px;

    font-size: 48px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    margin-bottom: 44px;
  }
}

.address {
  font-style: normal;
}

.contactList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;

  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .contactList {
    flex-wrap: nowrap;
    column-gap: 12px;
  }
}

@media screen and (min-width: 1280px) {
  .contactList {
    justify-content: center;
  }
}

.contactItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 163px;

  padding: 27px 15px;
}

@media screen and (min-width: 768px) {
  .contactItem {
    width: 169px;
  }
}

.subtitle {
  margin: 10px 0 24px 0;

  font-size: 18px;
  font-weight: 400;
}

.contactValue {
  font-size: 12px;
}

@media screen and (min-width: 768px) {
  .contactValue {
    font-size: 16px;
  }
}
